apipkg==1.4
appdirs==1.4.2
cocos2d==0.6.4
coverage==4.4.1
Dijkstar==2.2
execnet==1.4.1
numpy==1.13.1
packaging==16.8
psutil==5.2.2
py==1.4.31
pyglet==1.2.4
pymlconf==0.7.0
pyparsing==2.1.10
pytest==3.0.4
pytest-cov==2.5.1
pytest-timeout==1.2.0
pytest-xdist==1.16.0
PyYAML==3.12
redis==2.10.6
six==1.10.0
tmx==1.9.1
typing==3.6.1
