attrs==18.1.0
cocos2d==0.6.5
Dijkstar==2.4.0
freezegun==0.3.10
future==0.16.0
numpy==1.14.5
pluggy==0.6.0
psutil==5.4.6
py==1.5.3
pyglet==1.3.2
pytest==3.6.1
python-dateutil==2.7.3
PyYAML==3.12
redis==2.10.6
six==1.11.0
tmx==1.9.1
pytest-mock==1.10.0
Pillow==5.1.0
